.normal {
    font-size: 16px;
    padding: 5px;
    /* margin: 5px; */
    margin: 5px;
    background-color: blanchedalmond;
}
.large-bold {
    padding: 20px;
    text-align: center;
    font-size: 23px;
    color: blue;
    font-weight: 500;
    margin: 10px;
    border: 1px solid violet;
    border-radius: 10px;
}